# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
MemoryCaptures/

# IDE files
.vscode/
.vs/
*.csproj
*.sln
*.user
*.userprefs

# OS files
.DS_Store
Thumbs.db